@import url('https://fonts.google.com/specimen/Poppins?query=poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.logo{
    font-size: 3em;
    color: rgba(216, 41, 41, 0.411);
    border: 1.5px ;
    user-select: none;
    margin-left: 20px;
    text-shadow: 1.5px #368d83;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #368d83;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: #368d83;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 50px;
    height: 50px;
    background: transparent;
    font-size: 2em;
    border: none;
    color: #368d83;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background: #87dfdfd5;
    color: #edf1f1;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active{
    height: 520px;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    position: absolute;
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #d6c7d6d5;
    color: #56405c5d;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.9em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;

}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #56405c5d;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.05em;
    color: #ffffff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

/* about.html */

.navigation-about a{
    position: relative;
    font-size: 1.1em;
    color: #368d83;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

.navigation-about a::after{
    content: '';
    position: relative;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: #368d83;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation-about a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.infor{
    position: relative;
    font-size: 4em;
    color: #368d83;
    user-select: none;
    margin-left: 20px;
}

.text {
    text-align: left;
    font-size: 1.05em;
    font-style: italic;
    font-family: 'Popins', sans-serif;
    background: transparent;
    border: none;
    margin: 150px 250px 250px 250px;
    flex-wrap: wrap;
}

.contact-direct a{
    color: #368d83;
    text-decoration: none;
    font-weight: 600;
    float: right;
}

.contact-direct a:hover{
    text-decoration: underline;
}

.text-about{
    color: #368d83;
    text-align: left;
    font-size: 1.05em;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: transparent;
    border: none;
    margin: 150px 150px 150px 150px;
    flex-wrap: wrap;
}

/* contact.html */

.navigation-contact a{
    position: relative;
    font-size: 1.1em;
    color: #368d83;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

.navigation-contact a::after{
    content: '';
    position: relative;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: #368d83;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation-contact a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.title{
    font-size: 4em;
    font-family: 'Popins', sans-serif;
    color: #368d83;
}

.contact-logo{
    float: left;
}

.contact-logo a{
    width: 1000px;
    height: 1000px;
}

.contact-logo .icon-fb{
    color: blue;
    font-size: 2.05em;
}

.contact-logo .icon-yt{
    color: red;
    font-size: 2.05em;
}

.contact-logo .icon-in{
    color: white;
    font-size: 2.05em;
}

.contact-logo .icon-gg{
    color: #162938;
    font-size: 2.05em;
}

.contact-logo label{
    font-size: 1.5em;
    float: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}